@{
    ViewData["Title"] = "Adicionar Quadrinho";
}
@model AddComicViewModel;

<h2 class="text-center page-title">Adicionar Quadrinho</h2>


<form asp-controller="admin" asp-action="addcomic" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" asp-for="@Model.Comic.Title" class="form-control" id="titulo" placeholder="Titulo">
                <span asp-validation-for="@Model.Comic.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="date">Data de Publicação</label>
                <input asp-for="@Model.Comic.Date" class="form-control" type="date" id="date">
                <span asp-validation-for="@Model.Comic.Date" class="text-danger"></span>
            </div>

            <div id="add-select-category">
                <div class="form-group" id="select-div-category">
                    <label for="category">Categoria(s)</label><br>
                    <select asp-items="@Model.Categories" asp-for="@Model.SelectedCategories" id="category" title="Selecione" data-live-search="true" class="selectpicker" multiple>
                    </select>
                    <button type="button" class="btn btn-dark btn-secondary" onclick="categoryManager.onShowAddClick()">Add</button>
                    <span asp-validation-for="@Model.Categories" class="text-danger"></span>
                </div>

                <div class="form-group" id="add-div-category" style="display: none">
                    <label for="author-name-input">Adcicionar Categoria</label><br>
                    <div class="input-group mb-3">
                        <input type="text" id="category-name-input" class="form-control" placeholder="Nome da Categoria">
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-secondary" onclick="categoryManager.onClickAdd()" type="button">Add</button>
                            <button class="btn btn-dark btn-secondary" onclick="categoryManager.onHideAddClick()" type="button">Cancelar</button>
                        </div>
                    </div>
                    <span id="error-span-category" class="text-danger" style="display: none"></span>
                </div>
            </div>

            <div id="add-select-author">
                <div class="form-group" id="select-div-author">
                    <label for="author">Autor(s)</label><br>
                    <select asp-items="@Model.Authors" asp-for="@Model.SelectedAuthors" id="author" title="Selecione" data-live-search="true" class="selectpicker" multiple>
                    </select>
                    <button type="button" class="btn btn-dark btn-secondary" onclick="authorManager.onShowAddClick()">Add</button>
                    <span asp-validation-for="@Model.Authors" class="text-danger"></span>
                </div>

                <div class="form-group" id="add-div-author" style="display: none">
                    <label for="author-name-input">Adcicionar Autor</label><br>
                    <div class="input-group mb-3">
                        <input type="text" id="author-name-input" class="form-control" placeholder="Nome do Autor">
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-secondary" onclick="authorManager.onClickAdd()" type="button">Add</button>
                            <button class="btn btn-dark btn-secondary" onclick="authorManager.onHideAddClick()" type="button">Cancelar</button>
                        </div>
                    </div>
                    <span id="error-span-author" class="text-danger" style="display: none"></span>
                </div>
            </div>

            <div id="add-select-designer">
                <div class="form-group" id="select-div-designer">
                    <label for="designer">Desenhisa(s)</label><br>
                    <select asp-items="@Model.Designers" asp-for="@Model.SelectedDesigners" id="designer" title="Selecione" data-live-search="true" class="selectpicker" multiple>
                    </select>
                    <button type="button" class="btn btn-dark btn-secondary" onclick="designerManager.onShowAddClick()">Add</button>
                    <span asp-validation-for="@Model.Designers" class="text-danger"></span>
                </div>

                <div class="form-group" id="add-div-designer" style="display: none">
                    <label for="designer-name-input">Adcicionar Desenhista</label><br>
                    <div class="input-group mb-3">
                        <input type="text" id="designer-name-input" class="form-control" placeholder="Nome do Desenhista">
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-secondary" onclick="designerManager.onClickAdd()" type="button">Add</button>
                            <button class="btn btn-dark btn-secondary" onclick="designerManager.onHideAddClick()" type="button">Cancelar</button>
                        </div>
                    </div>
                    <span id="error-span-designer" class="text-danger" style="display: none"></span>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label for="description">Descrição</label>
                <textarea type="text" class="form-control" id="description" rows="15" placeholder="Descrição"></textarea>
                <span class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Adicionar Quadrinho</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/AddComic/selectAddManager.js"></script>
}